.wrapper{
  display: grid;
  height: 100%;
  grid-template-rows: minmax(0,1fr) minmax(0,100px);
}

.tables{
  overflow: auto;
  table-layout: fixed;
height: 100%;
}

.footer_table{
  display: grid;
  height: 100%;
  grid-template-columns: minmax(0,200px) minmax(0,1fr);
}
