<!--
<div>
  <div>
    <label>Etudiant:</label>
    <select  name="etudianId" [(ngModel)]="etudiantId.id" >
      <option value="{{etudiant.id}}" *ngFor="let etudiant of etudiants">
        {{etudiant.id}}
      </option>
    </select>
  </div>
</div> -->
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Note </th>
        <th scope="col">Id Note </th>
        <th scope="col">Id Note </th>
        <th scope="col">Id Note </th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ thisnote.id }}</td>
        <td>{{ thisnote.id }}</td>
        <td>{{ thisnote.id }}</td>
        <td>{{ thisnote.id }}</td>


      </tr>
    </tbody>
  </table>

</div>

